<button class="MessageButton" mat-button type="button" (click)="openModal(template)">
  <mat-icon class="MessageButtonIcon">message</mat-icon>
</button>

<ng-template #template>

  <div id="ChatHeader" class="modal-header">
    <img class="ChatLogo" src="assets/images/Logo1.png" alt="">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div #scrollDiv id="ChatBody" class="modal-body">
    <div *ngFor="let msg of chat">
      <div *ngIf="msg.user ==='bot' else User" class="MessageA">
        <label class="Message">{{msg.content}}</label>
      </div>
      <ng-template #User>
        <div class="MessageB">
          <label class="Message">{{msg.content}}</label>
        </div>
      </ng-template>
    </div>
  </div>
  <div id="ChatControl" class="modal-footer">
    <input class="MessageInput" matInput (keyup.enter)="sendMessage(msg)" #msg>
    <button class="SendButton" mat-button (click)="sendMessage(msg)"  >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</ng-template>
