.LogIn{
  display: flex;
  justify-content: center;
  height: 100Vh;
}
.LogInCard{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50VW;
  background: white;
  border-style: solid;
  border-width: 0.15vh;
  border-color: #FFC300;
}
.LogInHeader{
  display: flex;
  flex-direction: row;
  color: #0A100D;
  font-size: x-large;
  text-align: center;
  height: 10VH;
}
.LogInTitle{
  margin: auto;
  color: #0A100D;
}
.LogInContent{
  height: 15vh;
}
.LogInForm{
  width: 100%;
}

.LogInFormFields {
  width: 100%;
}
.LogInActions{
  height: 5vh;
  display: flex;
  flex-direction: column;
}
.LogInButton{
  margin: auto;
  background:#003566 ;
  color: #ffffff;

}

.LogInFooter{
  display: flex;
  height: 10vh;
}
.LogInSignUpText{
  margin: auto;
  color: #0A100D;
}


.LogInAlerts{
  text-align: center;
  width: 40vw;
  position:absolute;
  left: 30vw;
  top:75vh;
}

.CollageBackground{
  z-index: 0;
}

