<div class="Register">
  <mat-card class="RegisterCard">
    <mat-card-header class="RegisterHeader">
      <mat-label class="RegisterTitle">Register</mat-label>
    </mat-card-header>
    <mat-card-content class="RegisterContent">
      <form class="RegisterForm">
        <mat-form-field class="RegisterFormFields">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First name" name="fname" #fname>
        </mat-form-field>
        <mat-form-field class="RegisterFormFields">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" name="lname" #lname >
        </mat-form-field>
        <mat-form-field class="RegisterFormFields">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" name="email" #email>
        </mat-form-field>
        <mat-form-field  class="RegisterFormFields">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" name="password" #pwd >
        </mat-form-field>
      </form>
      <mat-label [ngStyle]="alertStyle" [hidden]="alertState" >{{alertText}}</mat-label>
    </mat-card-content>
    <mat-card-actions class="RegisterActions">
      <button mat-raised-button class="RegisterButton" (click)="register(fname.value,lname.value,email.value,pwd.value)">REGISTER</button>
    </mat-card-actions>
    <mat-card-footer class="RegisterFooter">
      <mat-label   class="RegisterLogInText">you already have account? <a style="color: #FFC300" routerLink="login">Log In</a></mat-label>
    </mat-card-footer>
  </mat-card>
</div>
